<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="styles/styles.css" />
    <script src="js/script.js" defer></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
    <title>API-based Express JS Server</title>
  </head>
  <body>
    <div class="playlist-container">
      <div id="playlist-div">
        <div id="playlists"></div>
        <table>
          <tbody id="playlist-body"></tbody>
        </table>
      </div>
      <div class="song-wrapper">
        Enter Song Title: <input type="text" name="city" id="songTitleField" />
        <button id="submit-button">Submit</button>
      </div>
      <div id="songs"></div>
    </div>
  </body>
</html>
